@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Walter+Turncoat&display=swap');
:root{
    --primary-color: #63C5DA;
    --secondary-color: #82EEFD;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica, sans-serif;
    --secondary-font: "Walter Turncoat";
}

* {
    font-family: Arial, Helvetica, sans-serif;
}
img{
    max-width: 100%;
}

h1, h2{
    font-family: var(--secondary-font);
    max-width: 100%;
    justify-content: center;
    margin-left: 5px; 
    margin-right: 5px;
}
#title{
    display: flex;
    justify-content: center;
    width: 100%;
    
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    
}
header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    
    
    margin-top: 30px;
    
    padding: 10px;
    
    
    border-bottom: 1px solid lightslategray;
}
h1{
    font-size: 2.5lh;
    transform: scaleY(1.3);
    margin-top: 36px;
}

#lookup{
    
    width: 40px;
    max-width: 40px;
    font-size: 1.6em;
    justify-self: center;
    background: none;
    border: none;
    
}
#find{
    display: flex;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 5px;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 15px;
   
}
#js-recipe{
    max-width: 100%;
    width: 90%;
    border: none;
    border-right: 2px solid black;
    font-size: 1.5em;
    color: #333;
    
}
#js-recipe:focus{
    outline: none;
    
}

.recipe{
    display: flex;
    flex-direction: column;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 25px;
    border-radius: 5px;
    margin-top: 25px;
}
.tag{
    margin-top: 5px;
    padding: 5px;
    width: 100px;
    background: white;
    font-size: 1.3em;
    font-weight: bold;
    
}
.info{
    display: flex;
    flex-direction: column;
    
}
.name{
    order: 1;
    color: var(--primary-color);
    transform: scaleY(1.5);
    margin-bottom: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.rating{
    order: 1;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.food{
    max-width: 350px;
}


footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
#flaticon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: .6em;
    width: 100%;
    order: 1;
    
}
.social{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 40px;
    margin-bottom: -10px;
}
a{
    
    
    height: 50px;
    display: flex;
    flex-direction: row;   
}

@media  (max-width: 600px){
    .description{
    
    display: none;
    }
    
}
@media (min-width: 600px) {
    .recipe {
      flex-direction: row;
    
    }
    .info{
        margin-left: 10px;
    }
    
    .description{
        order: 3;
    }
    footer{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: space-evenly;

    }

    #flaticon{
        
        width: 50%;
        order: 1;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        
    }
    .social{
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-top: 40px;
        margin-bottom: -10px;
        justify-content: center;
        align-items: center;
    }
    body {
        /*from chatgpt*/
    max-width: 960px;
    margin: 0 auto;
    }
}

