
form{
    grid-row: 2;
    grid-column: 2;
    display: grid;
    grid-template-columns: 80px 300px 80px;
    grid-template-rows: 20px 210px 20px 50px;
    gap: 20px;
    z-index: 10;
}
#front{
    align-self: left;
    align-self: top;
    background-color: gray;
    grid-row: 1/3;
    grid-row-start: 1;
    grid-column: 1/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
    
}
#back{
    align-self: right;
    background-color: slategray;
    grid-row: 2/4;
    grid-column: 2/4;
    
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 1fr 1fr;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 5px;
    
}

img{
    grid-column: 2;
    grid-row: 1;
    justify-self: right;
    
}

p{
    display: inline;
}
#amount{
    grid-row: 1;
    grid-column: 1;
    align-self: center;
}

.number{
    grid-row: 2;
    grid-column: 1/3;
    display: block;
}

#cardnumber{
    width: 98%;
}

#holder{
    grid-row: 3;
    grid-column: 1;
}

#expiration{
    grid-row: 3;
    grid-column: 2;
}

#cvc{
    grid-row: 2;
    grid-column: 2;
    align-self: center;
    justify-content: center;
    margin: 20px;
    z-index: 5;
}

#cvccvv{
    width: 60px;
    justify-self: center;
    z-index: 5;
    
}

.date{
    
    width: 35px;
    margin-right: 5px;
}

button{
    grid-row: 4;
    grid-column: 3;
    height: 30px;
}

input{
    height: 25px;
    font-size: 1rem;
}

#line{
    background-color: black;
    height: 40px;
    grid-row: 1;
    grid-column: 1/4;
}
